/* @media (min-width: 765px) { 
    .img-title{
        display: none;
    }

    .img-title-desktop{
        display: block;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    .logo{

    }
} */